name: build

on:
  push:
    tags-ignore:
      - '*'
    branches:
      - '**'
    paths-ignore:
      - '**/*.md'
      - 'LICENSE'

env:
  IMAGE_NAME: ghcr.io/mah0x211/lua-ci

jobs:
  build-test:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
      actions: write  # required to save BuildKit cache
    strategy:
      matrix:
        debian_suite: [bullseye, bookworm]
    steps:
      -
        name: Checkout
        uses: actions/checkout@v4
      -
        name: Build & test image
        uses: ./.github/actions/image-build
        with:
          debian_suite: ${{ matrix.debian_suite }}
